$primary-fg-color: #fafafa;
$primary-bg-color: #131c31;
$button-bg-color: #DC136C;
$secondary-bg-color: #131c31;
$accent-color: #FF7F11;
$alt-text-color: $button-bg-color;

@import "../color-map-dark";
$gallery-modal-close-color: #4ECDC4;